.checkbox {
  flex-shrink: 0;

  width: 19px;
  height: 19px;

  border: 2px solid var(--color-black);
  border-radius: 3px;

  appearance: none;
}

.checkbox:focus-visible {
  outline: 2px solid var(--color-blue-medium);
  outline-offset: 1px;
}

.checkbox:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 4.99951L4.15165 7.65116L10.3388 1.46398' stroke='black' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 2px 3px;

  fill: red;
}

.checkbox:disabled {
  border: 2px solid var(--color-grey-light);
}

.checkbox:checked:disabled {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 4.99951L4.15165 7.65116L10.3388 1.46398' stroke='grey' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 2px 3px;
}
